body {
  background-color: var(--white);
  font-family: var(--font-family);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-style: normal;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  font-family: inherit;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

input,
select,
textarea {
  font-family: inherit;
  padding: 0;
  outline: none;
  border: none;
}
